* {
    /* outline: 1px solid orange;  */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1040px;
    margin: 0 auto;
    /* position: relative; */
}
/* 
.container::after {
    content: "";
    position: absolute;
    background-image: url(../img/moon-rocket1.png);
    width: 438px;
    height: 438px;
    top: 140px;
    right: 160px;
    left: 142px;
    bottom: 121px;
} */

header {
    background-color: #222222;
    padding-bottom: 179px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
    margin-bottom: 113px;
}

nav > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-links {
    flex-grow: 1;
    margin-left: 62px;
}

.nav-links > li {
    margin-right: 30px;
}

.contact-links > li {
    margin-left: 24px;
}

nav a {
    font-family: Verdana;
    font-size: 14px;
    color: #D4D4D4;
    text-decoration: none;
}

.header-promo {
    margin-left: 126px;
    width: 254px;
}

h1 {
    font-family: 'Courier New';
    font-size: 44px;
    color: white;
    font-weight: bold;
}

.header-promo > p {
    font-family: Verdana;
    font-size: 14px;
    color: #D4D4D4;
    margin-top: 32px;
    margin-bottom: 54px;
}

.header-promo > a {
    text-decoration: none;
    font-family: Verdana;
    font-size: 14px;
    color: black;
    background-color: #FFCB06;
    padding: 17px 100px 16px 38px;
    border-radius: 25px;
}

.advantages {
    background-color: #131313;
    padding: 187px 0 79px 0;
}

.advantages ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.advantages ul>li {
    font-family: Verdana;
    font-size: 14px;
    color: #D4D4D4;
    width: 172px;
    position: relative;
}

.advantages ul>li:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url("../img/advantage-icon-1.png");
    width: 60px;
    height: 68px;
    top: -102px;
    left: 0;
}

.advantages ul>li:nth-child(2)::before {
    content: "";
    position: absolute;
    background-image: url("../img/advantage-icon-2.png");
    width: 60px;
    height: 68px;
    top: -102px;
    left: 0;
}

.advantages ul>li:nth-child(3)::before {
    content: "";
    position: absolute;
    background-image: url("../img/advantage-icon-3.png");
    width: 60px;
    height: 68px;
    top: -102px;
    left: 0;
}

.advantages ul>li:nth-child(4)::before {
    content: "";
    position: absolute;
    background-image: url("../img/advantage-icon-4.png");
    width: 60px;
    height: 68px; 
    top: -102px;
    left: 0;
}

.content {
    background-color: #fff;
    padding: 80px 0 126px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.content ul {
    list-style: none;
}

.content li {
    font-family: Verdana;
    font-size: 14px;
    color: black;
}

.content p {
    font-family: Verdana;
    font-size: 14px;
    color: black;
}

.row:first-child .left-column {
    width: 440px;
    height: 346px;
}

.row:first-child .right-column {
    width: 443px;
    height: 207px;
}

.row:first-child .right-column>h3 {
    padding-top: 5px;
    margin-bottom: 44px;
}

.row:nth-child(2) .left-column {
    width: 455px;
} 

.row:nth-child(2) .left-column>h3 {
    padding-top: 52px;
    margin-bottom: 27px;
} 

.row:nth-child(2) .left-column>ul {
    padding-left: 31px;
} 

.row:nth-child(2) .right-column {
    width: 443px; 
} 

.row:nth-child(2) .right-column>h3 {
    padding-top: 52px;
    margin-bottom: 27px;
}

.row:nth-child(2) .right-column ul {
    padding: 0 42px 0 31px;
} 

.row:nth-child(2) li {
    margin-bottom: 25px;
    position: relative;
}

.row:nth-child(2) li::before {
    content: "";
    position: absolute;
    background-color: #FFCB06;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 6px;
    left: -23px;
}

footer {
    background-color: #131313;
    padding: 60px 0 84px 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    font-family: Verdana;
    font-size: 14px;
}

.footer-wrapper>div {
    width: 180px;
}

.footer-wrapper>div:first-child {
    width: 162px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 110px;
}

.footer-logo span {
    margin-top: 5px;
    margin-left: 15px;
    color: #D4D4D4;
}

.footer-wrapper>div>p {
    color: #555555;
}

.footer-wrapper h3 {
    font-family: Verdana;
    font-weight: bold;
    font-size: 14px;
    color: #D4D4D4;
    border-bottom: 1px solid #555555;
    padding-bottom: 12px;
    margin-bottom: 57px;
    margin-top: 28px;
}

.footer-wrapper ul {
    list-style: none;
}

.footer-wrapper ul>li:not(:last-child) {
    margin-bottom: 24px;
}

.footer-wrapper ul>li>a {
    text-decoration: none;
    color: #888888;
}